.xo-card {
  border: 1px solid @border-color;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .xo-card_header {
    border-bottom: 1px solid @border-color;
    padding: 12px 18px;
  }
  .xo-card_content {
    padding: 18px;
  }
}