.common-hover:not(.disabled) :hover {
  opacity: 0.8;
}
.common-disabled {
  color: #c3cbd6 !important;
  background-color: #f7f7f7 !important;
  border-color: #d7dde4 !important;
  cursor: not-allowed !important;
}

.common-click:active {
  opacity: 1;
}
