.icon-eye {
  box-sizing: border-box;
  position: relative;
  width: 16px;
  height: 10px;
  background-color: #909399;
  border-radius: 50%;
}
.icon-eye:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 14px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.icon-eye:after {
	content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: 1px solid #909399;
  border-radius: 50%;
}

.icon-caret-top {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid #909399;
}

.icon-caret-bottom {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #909399;
}

.icon-caret-left {
  width: 0;
  height: 0;
  border-bottom: 3px solid transparent;
  border-right: 5px solid #909399;
  border-top: 3px solid transparent;
}

.icon-caret-right {
  width: 0;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #909399;
  border-top: 3px solid transparent;
}

.icon-triangle-right {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #515a6e;
  position: absolute;
  transition: all 0.3s;
}
.icon-triangle-right::after {
  content: "";
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: -4px;
  right: -3px;
  transition: all 0.3s;
}

.icon-triangle-up {
  width: 0;
  height: 0;
  border-width: 5px;
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent #515a6e transparent;
  transition: all 0.3s;
  position: absolute;
}
.icon-triangle-up::after {
  content: "";
  display: inline-block;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 13px;
  transition: all 0.3s;
  right: -4px;
}

.icon-triangle-down {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 5px;
  border-style: solid;
  border-color: #515a6e transparent transparent transparent;
  position: absolute;
  transition: all 0.3s;
}
.icon-triangle-down::after {
  display: inline-block;
  content: "";
  border-width: 4px;
  border-style: solid;
  border-color: #fff transparent transparent  transparent;
  position: absolute;
  top: -5px;
  right: -4px;
  transition: all 0.3s;
}

.icon-option {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #e8eaec transparent;
  position: absolute;
  transition: all 0.3s;
}
.icon-option::after {
  content: "";
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -5px;
  right: -7px;
  transition: all 0.3s;
}

.icon {
  color: #606266;
  margin: 0 20px;
  font-size: 1.5em;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.icon-star::after {
  content: "\2606";
}

.icon-select-star::after {
  content: "\2605";
}

.icon-smile::after {
  content: "\263A"
}

.icon-select-smile::after {
  content: "\263B"
}

.icon-crown::after {
  content: "\2655"
}

.icon-select-crown::after {
  content: "\265B"
}

.icon-piece::after {
  content: "\2656"
}

.icon-select-piece::after {
  content: "\265C"
}
