.eye {
  box-sizing: border-box;
  position: relative;
  width: 16px;
  height: 10px;
  background-color: #909399;
  border-radius: 50%;
}
.eye:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 14px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.eye:after {
	content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: 1px solid #909399;
  border-radius: 50%;
}